body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  background-image: url('/static/images/cuadro.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.workspace-image {
  width: 230px;
  height: auto;
  margin-top: 230px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
}

.sidebar-button, .function-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #1284e1;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}


.buton {
  width: 150px;
  height: 60px;
  text-align: center;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgba(0, 255, 85, 0.747);
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.buton2 {
  width: 150px;
  height: 60px;
  text-align: center;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgba(250, 1, 1, 0.747);
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.buton:hover {
  background: #315cfd;
  color: white;
  font-size: 1.5em;
}


.function-button::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; 
}
