<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear workspace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_workspace.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/NotePoquet1.png') }}" alt="Workspace curso Python" class="workspace-image">
    <div class="main-container">
        <div class="sidebar">
            <div class="container">
                <form action="{{ url_for('crear_workspace') }}" method="post">
                    <input type="text" name="workspace_name" placeholder="Nombre del espacio de trabajo" class="function-button" required>
                    <input type="text" name="share" placeholder="Invitar Proyecto" class="function-button">
                    <button type="submit" class="buton">Crear</button>
                </form>                
                <div class="button-group">
                    <a href="{{ url_for('home') }}" class="sidebar-link">
                        <button type="button" class="buton2">Atras</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
